<header class="header">
  <section class="header__section">
    <h1>
      <a href="/">Reviakin Dmitry</a>
    </h1>
    <p>Software Engineer</p>
  </section>
  <nav class="header__nav">
    <ul>
      <li>
        <a href="/projects">My projects</a>
      </li>
      <li>
        <a href="/contacts">Contacts</a>
      </li>
    </ul>
  </nav>
</header>
