<%- include('includes/head')%>

    <title>Reviakin</title>
  </head>
  <body>
    <div class="container">
    <%- include('includes/navigation')%>


    <main class="main">
      <div class="bkg-image"></div>
      <section class="main__section">
        <header class="main__section__header">
          <h2>PAGE NOT FOUND</h2>
        </header>
      </section>
    </main>
  </div>
  </body>
</html>
