<%- include('includes/head')%>
  <body>
    <div class="container">
    <%- include('includes/navigation')%>

    <main class="main">
      <div class="bkg-image"></div>
      <section class="main__section">
        <ul class="main__section__ul">
          <li>
            <a href="https://www.facebook.com/dmitry.reviakin">Facebook</a>
          </li>
          <li>
            <a href="https://github.com/reviakin">Github</a>
          </li>
          <li>
            <a href="https://www.upwork.com/freelancers/~01f83e72bb5fea6709"
              >Upwork</a
            >
          </li>
          <li>
            <a href="https://twitter.com/reviakin2">Twitter</a>
          </li>
        </ul>
      </section>
    </main>
  </div>
  </body>
</html>
