<%- include('includes/head')%>
  <body>
    <div class="container">
    <%- include('includes/navigation')%>


    <main class="main">
      <div class="bkg-image"></div>
      <section class="main__section">
        <header class="main__section__header">
          <h2>ABOUT ME</h2>
        </header>
        <article>
          <p>
              I'm a software engineer located in Russia. I am currently self-employed. 
              In my free time, I hassle other engineers to write better code. 
          </p>
          <p>
              My usual hobbies are design and art, swimming, and reading tons of books.
          </p>
        </article>
        <article>
          <header>
            <h4>
              Programming Skills
            </h4>
          </header>
          <p><span>Languages:</span> JavaScript, TypeScript, HTML, CSS</p>
          <p>
            <span>Libraries:</span> React, Underscore, LoDash, Redux, Express
          </p>
          <p><span>Servers:</span> NodeJS</p>
        </article>
        <article>
          <header>
            <h4>
              Life Skills
            </h4>
          </header>
          <p>Reaching things high up on shelves</p>
          <p>Avoiding low-hanging ceiling fans</p>
        </article>
      </section>
    </main>
  </div>
  </body>
</html>
