<%- include('includes/head')%>

    <title>Reviakin</title>
  </head>
  <body>
    <div class="container">
    <%- include('includes/navigation')%>


    <main class="main">
      <div class="bkg-image"></div>
      <section class="main__section">
        <ul class="main__section__ul">
          <li>
            <a href="https://codepen.io/reviakin/live/wbWjgQ"
              >Design for shopping mall in Königsberg</a
            >
          </li>
          <li>
            <a href="http://gorkogo55.ru/"
              >Navigation service for shopping mall</a
            >
          </li>
        </ul>
      </section>
    </main>
  </div>
  </body>
</html>
