* {
  box-sizing: border-box;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  background-color: #81a69b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 4vw 0 4vw;
}

.container ul {
  list-style: none;
}

.title {
  grid-area: title;
  margin: 0 auto 300px auto;
}

.navigation {
  grid-area: navigation;
}

.content {
  grid-area: content;
}

.container {
  display: grid;
  grid-template-columns: 30% 70%;
  grid-template-rows: 20% 80%;
  grid-template-areas:
    "title title"
    "navigation content";
}

.message {
  margin: 0 0 15px 0;
}

.timeMessage {
  font-weight: 550;
}

@media only screen and (max-device-width: 600px) and (-webkit-min-device-pixel-ratio: 2) {
  .container {
    grid-template-columns: auto;
    grid-template-rows: 20% 20% 60%;
    grid-template-areas:
      "title"
      "navigation"
      "content";
  }
}
