* {
  box-sizing: border-box;
  color: #333;
  margin: 0;
  padding: 0;
}

body {
  background-color: #81a69b;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  padding: 0 4vw 0 4vw;
}

.container ul {
  list-style: none;
}

.title {
  grid-area: title;
  margin: 0 auto 300px auto;
}

.navigation {
  grid-area: navigation;
}

.content {
  grid-area: content;
}

.container {
  display: grid;
  min-height: 100vh;
  grid-template-columns: 30% 70%;
  grid-template-rows: 10% 90%;
  grid-template-areas:
    "title title"
    "navigation content";
}
